name: linux

on:
  - push

jobs:
  perl:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        perl-version:
          - '5.8'
          - '5.10'
          - '5.12'
          - '5.14'
          - '5.16'
          - '5.18'
          - '5.20'
          - '5.22'
          - '5.24'
          - '5.26'
          - '5.28'
          - '5.30'
    container:
      image: perl:${{ matrix.perl-version }}
    steps:
      - uses: actions/checkout@v2
      - name: Install Dependencies
        run: |
          perl App-cpanminus/cpanm -nq App::cpanminus
          (cd App-cpanminus && cpanm -nq --installdeps --with-develop --with-recommends --with-suggests .)
          (cd Menlo && cpanm -nq --installdeps --with-develop --with-recommends --with-suggests .)
      - name: Run Tests
        run: (cd App-cpanminus && prove -lr xt -j9)
