name: test

on:
  - push
  - pull_request

jobs:
  linux:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: 'script -q -e -c "bash {0}"' # create TTY so that -t STDIN works
    strategy:
      matrix:
        perl-version:
          - '5.8-buster'
          - '5.10-buster'
          - '5.12-buster'
          - '5.14-buster'
          - '5.16-buster'
          - '5.18-buster'
          - '5.20-buster'
          - '5.22-buster'
          - '5.24-buster'
          - '5.26-buster'
          - '5.28-buster'
          - '5.30-buster'
          - '5.32-buster'
          - '5.34-buster'
          - '5.36-buster'
          - '5.38-buster'
          - 'devel'
    container:
      image: perl:${{ matrix.perl-version }}
    steps:
      - uses: actions/checkout@v4
      - name: Install Dependencies
        run: |
          perl App-cpanminus/cpanm -nq App::cpanminus
          cpanm -nq LWP::Protocol::https
          (cd App-cpanminus && cpanm -nq --installdeps --with-develop --with-recommends --with-suggests .)
          (cd Menlo && cpanm -nq --installdeps --with-develop --with-recommends --with-suggests .)
      - name: Run Tests
        run: (cd App-cpanminus && prove -lr xt -j9)
